#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  font-size: 300%;
}

button {
    font-size: 1.2em;
}

table, .tdNode {
  border: 1px solid red;
}

input {
    font-size: 1.2em;
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}
